.container.content {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.container.content label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.container.content input,
.container.content textarea {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding-inline: 15px;
  border: 1px solid black;
  outline: none;
  font-size: 14px;
  margin-bottom: 15px;
}
.container.content textarea {
  height: initial;
  resize: none;
  padding-block: 15px;
}
.container.content button {
  padding: 15px 50px;
  background-color: #000;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}
