@font-face {
    font-family: 'Noto Sans Georgian';
    src: url('NotoSansGeorgian-Regular.woff2') format('woff2'),
        url('NotoSansGeorgian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

